@using Proyecto.Models;
@{Tema tema = (Tema)Session["tema"];}
@{
    ViewBag.Title = "Proyecto OVA";
}
<div>
    <h2 class="tm-hero-title">@tema.nombre</h2>
    <p class="tm-hero-subtitle">
        @tema.descripcion
    </p>
</div>
