@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Proyecto OVA";
}
@if (Model != null)
{
    <div>
        <hr />
        <center>
            <h1 class="tm-hero-title"><b>@Model.nombreTema</b></h1>
        </center>        
        <hr />
        <p align="left"><h4>@Model.descripcionTema</h4></p>
    </div>
}

