@using Proyecto.Models;
@{Tema tema = (Tema)Session["tema"];}
@{
    ViewBag.Title = "Proyecto OVA";
}
<div>
    <hr />
    <h1 class="tm-hero-title"><b>@tema.nombre</b></h1>
    <hr />
    <p class="tm-hero-subtitle">
        @tema.descripcion
    </p>
</div>
