@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Plataforma";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>Plataforma</b></h1></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>@Model.nombreTema</b></h1></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <iframe width="560"
                    height="315"
                    src="http://www.youtube.com/embed/fxCEcPxUbYA"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table">
                @if (Model.unidades != null && Model.unidades.Count > 0)
                {
                    foreach (Unidades un in Model.unidades)
                    {
                <tr>
                    <th>@un.nombre</th>
                    @foreach (Recursos re in Model.recursos)
                    {
                        if (re.idUnidad == un.idUnidad)
                        {
                    <th align="left">
                        &nbsp&nbsp&nbsp @re.nombre
                    </th>

                        }
                    }
                </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

