@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Plataforma";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>Plataforma</b></h1></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>titulo</b></h1></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">visor</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="tableContenido">
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
                <tr>
                    <th>1</th>
                </tr>
            </table>
        </div>
    </div>
</div>

