<!-- Menu lateral -->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
</nav>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
</nav>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
</nav>
    if (us.idRol == 1)
    {
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
</nav>
    